$background: rgb(37, 37, 37);
$primary-bg: #bcbcbc;
$text-color: #111111;
$btn-color: #d9d9d9;
$btn-numb-color: #f2f2f2;
$option-color: #73a5c0;
$main-spacing: 20px;
$special-font: 'Noto Sans JP', sans-serif;